@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* font-family: 'Barriecito', cursive; */
/* font-family: 'Dancing Script', cursive; */
/* font-family: 'Acme', sans-serif; */
/* font-family: 'Bebas Neue', sans-serif; */

* {
    margin: 0;
    padding: 0;
}

li, a {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
}


/* FOR HERO */
.hero, .footer {
    color: #F9FAF8;
    background-color: #1F2937;    
}

.hero {
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 48px;
    font-weight: bolder;
}

.hero-links {
    gap: 25px;
    display: flex;
    font-size: 18px;
}

.title, .hero-links {
    font-family: 'Bebas Neue', sans-serif;
}


.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
}

.hero-content > .left {
    max-width: 400px;
    padding-right: 25px;
}

.awesome {
    font-size: 48px;
    font-family: 'Acme', sans-serif;
}

.sub {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 15px;
    font-family: 'Dancing Script', cursive; 
}

.sign-up {
    font-family: 'Barriecito', cursive;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    padding: 7px;
    width: 75px;
    background-color: #3882f6;
}

.hero-img {
    box-shadow: 5px 5px 3px black;
}


/* FOR INFORMATION CENTER */
.info-block {
    display: flex;
    align-items: center;
    padding: 30px;
    flex-direction: column;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-family: 'Bebas Neue', sans-serif;
}

.image-container {
    display: flex;
    gap: 150px;
    padding: 30px;
}

.infoimg {
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.img-text {
    max-width: 200px;
}

.image-text {
    display: flex;
    gap: 250px;
    font-family: 'Acme', sans-serif;
}

/* FOR QUOTE SECTION */

.quote-container {
    display: flex;
    padding: 150px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    max-width: 700px;
    font-style: italic;
    color: #1F2937
}

.author {
    display: flex;
    font-size: 25px;
    justify-content: flex-end;
    font-family: 'Dancing Script', cursive;
}
